---
name: credits
layout: page
---

# Créditos

Esta colección fue creada por [Juan Sebastián Ramírez Campos](https://github.com/Juansrc/coleccion-ds).

Basada en la plantilla [Serie Mini](https://github.com/srsergiorodriguez/serie-mini), para la creación de colecciones digitales, creada por [Sergio Rodríguez Gómez](https://srsergiorodriguez.github.io/).

Las imágenes provienen de distintos medios periodísticos colombianos. Todos los links están visibles. 