---
name: tour
layout: page
---

# Recorrido por la colección

Esta colección recopila imágenes que describen múltiples facetas del cambio climático. Cada imagen está ordenada con su pid, label y palabra clave. Todas las imágenes en esta colección fueron utilizadas únicamente para fines académicos. 
Puede filtrar la información en la pestana "Explorar" usando la barra de búsqueda. Seleccionando la categoría, las imágenes se van a desplegar.